{% extends 'base.html' %}

{% block content %}
<div class="container pt-6 border">


  <h1>Make your own schedule</h1>
  {% if g.user %}
  <p><span class="span">{{ "WELCOME " + g.user['username'] }}</span></p>
  <p><a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Log Out</a></p>

  {% endif %}


    <p>Fill out the form based on your schedule</p>

    <form method="POST">
      <div class="column">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="years">Year:</label>
        <input type="text" name="years" id="years"><br>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="months">Month:</label>
        <input type="text" name="months" list="months"><br>
        <datalist id="months">
          <option value="September">September</option>
          <option value="october">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
          <option value="January">January</option>
          <option value="Feburary">Feburary</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
        </datalist>
      </div>


      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="days">Day:</label>
        <input type="text" name="days" required><br>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"for="date">Date</label>
        <input type="text" name="date" list="date" required><br>
        <datalist id="date">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </datalist>
        </div>

        <!-- time div -->
        <div class="form-group row">

          <label class="col-sm-2 col-form-label" for="shift">Shift:</label>
          <input type="text" name="shift" list="shift" /> <br>
          <datalist id="shift">
            <option value="6am to 2pm ">6am to 2pm</option>
            <option value="7am to 3pm">am to 3pm</option>
            <option value="2pm - 9pm">2pm - 9pm</option>
            <option value="1pm to 9pm">1 pm to 9pm</option>
            <option value="9pm to 6am">9pm to 6qm</option>
            <option value="10pm to 6am">10pm to 6am awake</option>
          </datalist>

        </div>
        <!-- description div -->

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="description">House:</label>
          <input type="text" name="description" id="dscription">

        </div>


      </div>
      <input class="btn btn-success" type="submit" name="" value="Save">


    </form>

    <hr>



  <h2>Here is your schedule</h2>
  <table class="table table-striped" border="red 1px">
    <tr>

      <th scope="col">Month:</th>
      <th scope="col">Date:</th>
      <th scope="col">Year:</th>
      <th scope="col">Day:</th>
      <th scope="col">Shift:</th>
      <th scope="col">House:</th>
      <th scope="col">action</th>
    </tr>

    {% if g.user %}
    {% for schedules in schedule %}
    <tr>


      <td>{{ schedules ['months']}}</td>
      <td>{{ schedules ['date']}}</td>
      <td>{{ schedules ['years']}}</td>
      <td>{{ schedules ['days']}}</td>
      <td>{{ schedules ['shift']}}</td>
      <td>{{ schedules ['description']}}</td>
<td>


        <form action="{{ url_for('schedules.delete_schedule', id=schedules['id']) }}" method="post">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>

        <form action="{{ url_for('schedules.edit_schedule', id=schedules['id']) }}" method="post">
          <input class="danger" type="submit" value="Edit">
        </form>
      </td>

    </tr>
    {% endfor %}
    {% endif %}
  </table>
</div>
{% endblock %}
