*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-size: calc(10px + 2vmin);
}

body {
  font-family: 'Playfair Display', serif;
  color: white;
  background: #2F4F4F;
}


.column {

  content: "";
  display: table;
  clear: both;

}

.row {
  float: left;
  width: 30%;

}
